body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 370px;
}

#progress .times, 
.card-footer,
.volume-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume-container i {
    margin-right: 5px;
}

/*#progress-bar {
    width: 100%;
}
#music-image {
    width: 100%;
}
*/
